# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
cf-orgs-usage

# Test binary, build with `go test -c`
*.test
test.json

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
glide.lock
./cf-orgs-usage
debug
debug/*

# ignore tile gen output
cf-orgs-usage.tgz
tile/product/*
tile/release/*
tile/metadata
tile/resources/go-code

